* {
    font-family: Roboto;
    margin:0%
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

div {
    padding-left: 8%;
    padding-right: 8%;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header-links,
#hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

#hero,
#header,
#footer {
    background-color: #1f2937;
    display: flex;
}

#hero-image,
#hero-text {
    width: 50%;
}

#footer {
    justify-content: center;
}